body {
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	font-family: '微软雅黑 Regular', '微软雅黑';
	color: #333;
	background: #fff;
	_background-image: url(about:blank);
	_background-attachment: fixed;
}

ol, ul, li {
	list-style: none
}

a:hover {
	color: #666;
	cursor: pointer;
	text-decoration: none
}

.margin-t10 {
	margin-top: 10px;
}

.row {
	margin-right: 0px;
}

.function ul {
	padding-left: 0px;
	border: 1px solid #ccc;
}

.function ul li {
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	border: 1px solid #ccc;
	padding-left: 10px;
}

.function ul li:hover {
	background-color: #ccc;
}

.function ul li.current {
	background-color: #ccc;
}

.function1 {
	border: 1px solid #ccc;
}

.function1-subFunc {
	margin-top: 10px;
	margin-bottom: 10px;
}